<section class="bg-lightDark">
  <div class="img-overlay"></div>

  <div class="container">
    <div class="section-container ">
      <h2 class="title">How to Book</h2>
      <div class="steps">
        <div class="step" *ngFor="let step of fakeStepsArr;let i=index">
          <div class="top-section text-primary bg-secondary" [ngClass]="{'first':i==0,'last':i==(stepsLength!-1)}">
            <h2>Step {{i+1}}</h2>
          </div>
          <div class="bottom-section" [ngClass]="{'first':i==0,'last':i==(stepsLength!-1)}">
            Sed ut perspiciatis unde omnis iste natus error sit voluptate
          </div>
        </div>
      </div>
      <p class="bottom-info text-secondary">Very easy steps to book your service</p>
    </div>
  </div>
</section>
