<section class="bg-lightDark text-primary">
  <div class="container">
    <div class="header text-center mb-5">
      <h2 class="mb-5">My Services</h2>
      <p class="desc m-auto">
        All your bookings and requested services will be saved here, note that none of your services will be processed
        unless you confirm them.
      </p>
    </div>
    <div class="mb-5">
      <app-requested-services-table [dataSource]="requestedServices"></app-requested-services-table>
    </div>

    <app-confirmed-services-table [dataSource]="confirmedServices" class="mb-5"></app-confirmed-services-table>

  </div>

</section>
