@import "../../../assets/theme.scss";
.services-container {
  width:100%;
  padding:10px 5px ;
  .title{
    margin-bottom: 1.6em;
  }
}

.mat-table{
  background-color: transparent !important;

}
.icon-container {
  font-size: 1.6em;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  width: 100%;
}
