

  <div class="row">
    <h5 class="table-title">Request Details</h5>
    <div class="col-md-6 ">
      <table>
        <tr>
          <td>Vehicle type:</td>
          <td>Sedan</td>
        </tr>
        <tr>
          <td>Vehicle brand:</td>
          <td>Mercedes</td>
        </tr>
        <tr>
          <td>Delivery city:</td>
          <td>Riyadh</td>
        </tr>
        <tr>
          <td>Delivery date:</td>
          <td>06/05/2022</td>
        </tr>
        <tr>
          <td>No. of days:</td>
          <td>7</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6 " id="additonalData">
      <table>
        <tr>
          <td>Destination from:</td>
          <td>Location</td>
        </tr>
        <tr>
          <td>Destination to:</td>
          <td>Location</td>
        </tr>
        <tr>
          <td>From :10:00Pm</td>
          <td>To : 09:45 AM</td>
        </tr>
        <tr>
          <td>Attachments:</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Notes:</td>

        </tr>
        <tr>
          <td colspan="2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis.
          </td>
        </tr>
      </table>
    </div>
  </div>
