:host {
  width: 100%;
}
#forget-password {
  p {
    font-size: 17px;
  }
}
@media screen and (max-width: 990px) {
  #forget-password {
    padding-top: 20px !important ;
    p {
      font-size: 22px !important;
    }
  }
}
