@import "../../../../assets/theme.scss";
.radio-group {
  display: flex;
  justify-content: space-between;
  span {
    // justify-content: space-between;
    align-items: center;
    display: flex;
    min-height: 20px;
  }
  input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid $secondaryColor;
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
    // background-clip: content-box;

    &:checked {
      background-color: $secondaryColor;
      padding: 2px;
      background-clip: content-box;
    }
  }
}
.fill {
  span{
    background: $secondaryColor;
    width:50%;
    padding:2px 10px;
    min-height: 50px;
    border-radius: 15px;
    text-align: center;
    &:not(:first-child){
      margin-left: 20px;
    }
    input{
      appearance: none;
      width:20%;
      height: 70%;
      border-radius: 20%;
      border:5px solid $light-baseColor;
      :checked {
        background-color: $secondaryColor;
        padding: 2px;
        background-clip: content-box;
      }
    }
    label
    {
      width:80%;
    }
  }

}
