@import "../../../../clientAreaSharedStyle.scss";
@import "../../../../../../assets/theme";

.form-inputs{
  margin-bottom: 1.2em;
}
.inputs-container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  &.hide{
    display: none;
  }
}
#transporationForm {
  .transporationFormContainer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:20px;
      align-items: center;
  }
}
.vehicleSwitches{
  position: relative;
  &::before{
    position: absolute;
    content: "";
    top:50%;
    width:100%;
    height:2% ;
    background-color: $secondaryColor;
    z-index: 1;
  }
  button{
    padding: 15px;
    margin:0px 18px;
    position: relative;
    z-index: 2;
    &:first-child{
      margin-left:30px ;
    }

  }
  button:hover,button:active,button.active{
    color:$light-baseColor !important;
  }
}
@media screen and (max-width:768px) {
  .transporationFormContainer,.inputs-container{
    grid-template-columns: 1fr !important;
    align-items: stretch;
  }
}
