@import "../../../../clientAreaSharedStyle.scss";
@import "../../../../../../assets/theme";


#transporationForm {
  .transporationFormContainer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:20px;
      align-items: center;
  }
}

