<section class="bg-lightDark text-primary">
  <div class="container">
    <h2 class="text-center text-primary my-5">Transportation Service</h2>

    <div id="transporationForm" class="mb-2 py-2" *ngIf="!bookingDone">
      <form
        *ngIf="transportationServiceForm"
        [formGroup]="transportationServiceForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="transporationFormContainer">
          <div>
            <app-base-input
              [fieldObject]="convertFieldObject('vehicleNumbers')"
              [formControlRef]="convertFormControl('vehicleNumbers')"
              [fieldErrors]="formValidator.formErrors"
              class="text-primary"
            ></app-base-input>
          </div>
          <div>
            <h6 class="mb-3">Same Destination?</h6>
            <app-radio
              [fieldObject]="convertFieldObject('isSameDestination')"
              [formControlRef]="convertFormControl('isSameDestination')"
              [fieldErrors]="formValidator.formErrors"
              [fill]="true"
              class="text-primary"
            ></app-radio>
          </div>
          <div class="pt-md-2">
            <button
              class="btn btn-block btn-secondary"
              style="border-radius: 15px"
              type="submit"
              [disabled]="transportationServiceForm.invalid"
            >
              Ok
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="vehicleForm py-3" *ngIf="vheiclesAdded && !bookingDone">
        <app-transportation-vehicle-form (formSumbitted)="onBookingDone($event)"></app-transportation-vehicle-form>
    </div>

    <div *ngIf="bookingDone">
      <h2 class="text-center text-primary my-5">Thank you!</h2>
      <p class="text-center text-primary my-5 request">
        Your request was saved, you can go to
        <a class="my-services"  [routerLink]="['/client/services']"
        routerLinkActive="router-link-active">MY SERVICES</a> section to confirm your request
        and send it to us.
      </p>
      <p class="text-center text-primary my-5">
        Do you want to have another Transportation request?
      </p>

      <div class="row-flex">
        <div style="width: 45%">
          <a
            class="nav-link link text-primary display-4 btn-secondary custom-btn"
            style="float: right"
            (click)="reBooking()"
            >Yes</a
          >
        </div>

        <div style="width: 45%">
          <a
            class="nav-link link text-primary display-4 btn-secondary custom-btn"
            [routerLink]="['/client/profile']"
            routerLinkActive="router-link-active"
            >No</a
          >
        </div>
      </div>

    </div>
  </div>
</section>
