<section class="bg-lightDark text-primary">
  <div class="container">
    <h2 class="title text-center mb-5">{{pageTitle}}</h2>
    <app-service-details-header></app-service-details-header>
    <ng-container *ngFor="let service of servicesArr;let i=index">
      <div class="row mb-2 ">
        <div class="row mb-4  ">
          <div class="col-12 text-center bg-secondary py-2">Vehicle 1</div>
        </div>
        <div class="row serv-detail">
          <div class="col-md-6 col-lg-3 order-lg-1">
            <div class="img-container">
              <img src="../../../../assets/images/services/Transportation.png" />
            </div>
          </div>
          <div class="col-lg-6 col-12 order-md-last mt-md-4 mt-lg-0 order-lg-2">
            <app-transportation-service-details-item></app-transportation-service-details-item>
          </div>
          <div class="col-md-6  col-lg-3 order-lg-3">
            <app-service-details-cost></app-service-details-cost>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="row mb-5  ">
      <app-grand-total-display></app-grand-total-display>
    </div>
    <div class="row justify-content-center py-4">
      <div class="col-md-4">
        <button class="btn btn-block btn-secondary rounded-pill text-primary justify-content-center" (click)="backToServicesPage()">Back</button>

      </div>
    </div>

  </div>
</section>
