@import "../../../../assets/theme.scss";
@import "../../../../assets/home.scss";
section{
  @include backgroundTheme;
  background-color: $light-baseColorDark;
  width: 100%;
  color:$light-baseColor !important;
  .section-container{
    width:80%;
    margin: auto;
    .title{
      text-align: center;
      margin-bottom: 50px;
    }
  }
}
.listing{
  .listing-item{
    margin-bottom: 15px;
    h5,p{
      font-weight: 200 !important;
    }
    .item-header{
      font-size: 20px;
      position: relative;
      display: flex;
      padding: 12px 0px;
      margin-bottom: 10px;
      justify-content: space-between;
      &::after{
        content:"";
        background: $baseColor;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 2px;
        left: 0;
      }

    }
    p{
      font-size: 18px;
    }
  }

}
.arrow-container{
  cursor: pointer;
  transform: scale(2.2);
  margin-right: 5px;
}
