<section class="bg-lightDark text-primary">
  <div class="container">
    <div class="header text-center mb-5">
      <h2 class="mb-5">History</h2>
      <p class="desc m-auto">
        Here you will find all your bookings and its details, including payment details
      </p>
    </div>
    <table mat-table [dataSource]="dataSource" >


      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="Service Type">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Service Type </th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.serviceType}} </td>
      </ng-container>

      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef class="text-center"> City</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.city }} </td>
      </ng-container>

      <ng-container matColumnDef="Request Date">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Request Date </th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.RequestDate | date:'MM/dd/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="Invoice">
        <th mat-header-cell *matHeaderCellDef class="text-center">Invoice </th>
        <td mat-cell *matCellDef="let element" class="text-center"> <span
            class="text-underline" (click)="onClickInvoice(element.invoice)">{{element.invoice}}</span> </td>
      </ng-container>
      <ng-container matColumnDef="Payment Metohd">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Payment Metohd</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.PaymentMethod }} </td>
      </ng-container>
      <ng-container matColumnDef="Stauts">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Status</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.Status }} </td>
      </ng-container>

      <ng-container matColumnDef="Details">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Details </th>
        <td mat-cell *matCellDef="let element" (click)="onViewService(element.id)" class="text-center">
          <span class="text-underline">Check</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</section>
