<div id="forget-password" class="w-100" *ngIf="!isEmailSent;else elseTemplate">
  <h3 class="text-center text-secondary mb-4">Reset Your Password</h3>
  <p class="text-center mb-5 ">We will send you a reset link to your email</p>
  <form *ngIf="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="submit()" >
    <app-outline-input [formControlRef]="convertFormControl('email')" [fieldObject]="convertFieldObject('email')"
      [fieldErrors]="formValdiator.formErrors">

    </app-outline-input>
    <div class="row justify-content-center my-4">
      <div class=" col-12 col-md-10 mx-auto ">
        <div class="btn-group d-flex my-3" style="gap: 20px">
          <button class="btn btn-block btn-secondary rounded-pill text-primary" [disabled]="resetPasswordForm.invalid"
            type="submit">
            Send Reset Link
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<ng-template #elseTemplate>
  <div class="emailSent">
  <h3 class="text-center text-secondary mb-5">Check Your Email Box</h3>
  <p class="text-center py-5 m-auto" style="width:80%;font-size:16px">An email sent to you contains rest password link</p>
  <div class="row justify-content-center ">
    <div class=" col-10  mx-auto ">
      <div class="btn-group d-flex my-3" style="gap: 20px">
        <button class="btn btn-block btn-danger rounded-pill text-primary" (click)="isEmailSent=false">
          reset password page
        </button>
      </div>
    </div>
  </div>
</div>
</ng-template>
