<div id="forget-password" class="w-100">
  <h1 class="text-center text-secondary mb-4">Reset Your Password</h1>
  <p class="text-center mb-5 ">Enter your new password</p>


  <form *ngIf="forgetPasswordForm" [formGroup]="forgetPasswordForm" (submit)="onSubmit()" class="mt-5">
      <app-outline-input class=" mb-4" [placeErrorBottom]="true"  [fieldObject]="convertFieldObject('password')"
      [fieldErrors]="formValidator.formErrors" [formControlRef]="convertFormControl('password')">
    </app-outline-input>
    <app-outline-input class=" mb-4"  [placeErrorBottom]="true"  [fieldObject]="convertFieldObject('confirmPassword')"
      [fieldErrors]="formValidator.formErrors" [formControlRef]="convertFormControl('confirmPassword')">
    </app-outline-input>
    <div class="row justify-content-center">
      <div class=" col-12 col-md-10 mx-auto ">
        <div class="btn-group d-flex my-3" style="gap: 20px">
          <button class="btn btn-block btn-secondary rounded-pill text-primary" [disabled]="forgetPasswordForm.invalid"
            type="submit">
            Verify
          </button>
          <button *ngIf="forgetPasswordForm.dirty" type="button" class="btn btn-small btn-danger rounded-pill text-primary" (click)="clearForm()">
            X
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
