@import "../../../../assets/theme.scss";
@import "../../../../assets/home.scss";
.about {
  .container{
    position: relative;
    height: 100%;
  }
  color:$light-baseColor;
  position: relative;
  height: 600px;
  width: 100%;
  background-image: url("../../../../assets/3347022_orig.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .section-container {
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin: auto;
    height: 100%;
    justify-content: space-evenly;
    .info{
      font-size: 18px;
      line-height: 1.3rem !important;
    }

  }
}
