<app-header [isOverlayDark]="true" [headerImage]="backGroundImage">
  <section  headerContent>
  <div class="container  ">
    <div class="section-container">
      <div class="row ">
        <div class="col-12 col-lg-7" style="position:relative ;">
          <div class="heading-section">
            <div class="col-12">
              <div class="header">
                <h2 class="header-title mb-3">Few clicks</h2>
                <p class=" info display-2">And enjoy luxury service</p>
              </div>
              <div class="desc mt-4">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-5 bg-primary text-dark auth-container" >
          <router-outlet></router-outlet>
        </div>
        </div>
      </div>
    </div>
</section>
</app-header>
