<table class="w-100 text-info">
  <tr class="d-flex justify-content-between mb-1"><td>No</td><td>1000113</td></tr>
  <tr class="d-flex justify-content-between mb-1"><td>Customer ID</td><td>97</td></tr>
  <tr class="d-flex justify-content-between mb-1"><td>Application ID</td><td>09476585</td></tr>
  <tr class="d-flex justify-content-between mb-1"><td>Payment</td><td>Credit Card </td></tr>
  <tr class="d-flex justify-content-between mb-1"><td>Date</td><td>May 7, 2022, 11:40:37 AM </td></tr>
  <tr class="d-flex justify-content-between mb-1"><td>Agent</td><td>12787899</td></tr>
</table>

