@import "../../../../assets/theme";
.cost-display{
  width: 100%;
  display: flex;
  justify-content: end;
 }
 .cost-container{
   border: 2px solid $secondaryColor;
   border-radius: 15px;
   padding-top: 5px;
   // padding: 10px 5px;
   margin-bottom: 20px;
   width:30%;
 }
.form-inputs{
  margin-bottom: 1.2em;
}
.inputs-container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  &.hide{
    display: none;
  }
}
.vehicleSwitches{
  position: relative;
  &::before{
    position: absolute;
    content: "";
    top:50%;
    width:100%;
    height:2% ;
    background-color: $secondaryColor;
    z-index: 1;
  }
  button{
    padding: 15px;
    margin:0px 18px;
    position: relative;
    z-index: 2;
    &:first-child{
      margin-left:30px ;
    }

  }
  button:hover,button:active,button.active{
    color:$light-baseColor !important;
  }
}
@media screen and (max-width:768px) {
  .transporationFormContainer,.inputs-container{
    grid-template-columns: 1fr !important;
    align-items: stretch;
  }
  .cost-container{
    width: 100% !important;
    margin: auto;
    margin-bottom: 20px;
  }
}

