<div class="row mx-0 mb-0 maplocator">
  <div class="col-12 px-0">
    <ng-container appearance="outline" class="w-100" color="primary">
      <mat-label class="pb-2">{{ fieldObject.displayName}}</mat-label>
      <input type="search" class="form-control" matInput
             [formControl]="formControlRef" [(ngModel)]="lat_long" />
      <mat-error *ngIf="fieldErrors[fieldObject.fieldName] || fieldErrors[fieldErrorName]">
        {{ fieldErrors[fieldObject.fieldName] || fieldErrors[fieldErrorName] }}
      </mat-error>
    </ng-container>
  </div>

</div>
