<section>
  <div class="mbr-overlay"></div>
  <div class="container text-primary">

    <div class="row  stats-container ">
      <div class="col-12 col-lg-4 header">
        <h1><i class="fa fa-user-o"></i>Clients Area</h1>
      </div>
      <div class="col-12 col-lg-8 stats d-flex justify-content-between">
        <div>
          <div>
            <span>12</span>
          </div>
          <h5 class="text-secondary">Total Requests</h5>
        </div>
        <div>
          <div>
            <span>12</span>
          </div>
          <h5 class="text-secondary">Total Approvals</h5>
        </div>
        <div>
          <div>
            <span>12</span>
          </div>
          <h5 class="text-secondary">Total Rejections</h5>
        </div>
        <div>
          <div>
            <span>12</span>
          </div>
          <h5 class="text-secondary"><span class="d-block">Total</span> Payment Bills</h5>
        </div>
      </div>
    </div>
  </div>
</section>
