
section{
  padding:20px 0px;
  .stats-container{
    align-items: center;
  }
  .header{
    h1{
      display: flex;
      align-items: center;
      gap:10px;
      i{
        border:white solid 2px;
        border-radius: 50%;
        padding: 8px;
        font-size: 1.2rem;
      }
    }
  }
}
.stats {
  >div{
    display: flex;
    align-items: center;
    gap:10px;
    flex:1;

    *>{
      flex:1;
    }
    >div {
      background: white;
      text-align: center;
      font-size: 2em;
      color: black;
      width: 30%;
    }
  }


}
@media screen and (max-width:768px) {
  .header{
    text-align: center;
  }
  .stats{
    flex-direction: column !important;
    align-items: center;
    gap:20px;
    margin-top: 10px;
    >div{
      width:50%;
    }
  }
}

@media screen and (max-width:998px) {
  .header{
    h1{
      justify-content: center;
    }
  }

}
