@import "../../assets/theme.scss";
section {
  padding: 50px 10px 100px 10px;
  .header{
    p.desc{
      width: 70%;
    }
  }
}
.table-title {
  margin-bottom: 20px;
}
table{
  width:100%;
  background: transparent !important;
  th{
    font-size: 1em !important;
    color:$baseColor

  }
  td{
    font-size: 1em !important;
    color:$light-baseColor;

  }

}

.text-underline{
  text-decoration: underline;
  cursor: pointer;
}

