<div class="container">
  <div class="row">
    <div class="col-12 col-lg-5">
      <div class="header-info text-primary">
        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2">On Time</h1>
        <p class="mbr-text mbr-fonts-style display-7">All delegation services in one place</p>
        <div class="mbr-section-btn mt-3"><a class="btn btn-primary-outline display-4 bg-lightDark" [routerLink]="['/client/bookings']">Book a Service</a></div>
      </div>
    </div>
  </div>
</div>
