.servicesGuide-slider,.testimonial-slider {
  .owl-nav {
    .disabled {
      opacity: 1 !important;
      cursor: pointer;
    }
    .owl-prev,
    .owl-next {
      background: transparent !important;
      cursor: pointer;
    }
    .owl-prev {
      .navbtn {
        position: absolute;
        top: 40%;
        left: 20;
        left: -50px;
      }
    }
    .owl-next {
      .navbtn {
        position: absolute;
        top: 40%;
        right: -50px;
      }
    }
  }
}
@media (min-width:1200px) {
  .servicesGuide-slider,.testimonial-slider{
    .owl-prev {
      .navbtn {

        left: -100px !important;
      }
    }
    .owl-next {
      .navbtn {

        right: -100px !important;;
      }
    }
  }
}
