@import "../../../../assets/theme.scss";
input{
  background: black;
  border:$secondaryColor 2px solid !important;
  border-radius: 15px;
  position: relative;
}
.file {
  color: transparent;
}
.file::-webkit-file-upload-button {
  visibility: hidden;
}
.file::before {
  content: 'Browse For FIles';
  color: $light-baseColor;
  display: inline-block;
  cursor: pointer;
  padding: 5px 8px;
  width: 100%;
  text-align: center;
}
.file::after{
  content:'\f115';
  color:white;
  font-family: "FontAwesome";
  position: absolute;
  text-align: center;
  top:32%;
  right: 27%;

}
.file:focus {
  background: black !important;
}
@media (max-width:787px)  {
  .file::after{
    right: 33%;
  }
  }
@media (min-width:787px) and (max-width:1100px) {
.file::after{
  right: 10%;
}
}
